p{background-color: black; color: white;}
h1{color: rgb(255, 255, 255); background-color: rgb(157, 1, 1);}
div{background-color: crimson;color: white;}
form{width: 500px; background-color: black; color: white; margin-left: 400px; padding-left: 300px;}
#clender{margin-left: 300px;}
#button{margin-left: 500px;}
img{vw:50%:}